common/target
common/target/**/*
common/.*
rest-service/target
rest-service/target/**/*
rest-service/.*
cli/target
cli/target/**/*
cli/.*
web/target
web/target/**/*
web/.*
.settings
.settings/**/*
.project