common/target
common/target/**/*
common/.*
rest-service/target
rest-service/target/**/*
rest-service/.*
cli/target
cli/target/**/*
cli/.*
web-mvc/target
web-mvc/target/**/*
web-nvc/.*
.settings
.settings/**/*
.project